<article class="event-card">
  <div class="event-meta">
    <span class="event-type">{{ event.type }}</span>
    <span class="event-date">
        {% if event.date %}
          {{ event.date | date: "%B %d, %Y" }}
        {% endif %}
    </span>
  </div>

  <h3 class="event-title">{{ event.title }}</h3>

  <p class="event-details">
      {% if event.date %}
        📅 {{ event.date | date: "%d/%m/%Y" }}<br>
      {% else %}
        📅 TBA<br>
      {% endif %}

      {% if event.time and event.timezone %}
        🕒 {{ event.time }} ({{ event.timezone }}) <br>
      {% else %}
        🕒 TBA <br>
      {% endif %}

      {% if event.location %}
        📍 {{ event.location }}<br>
      {% else %}
        📍 TBA <br>
      {% endif %}

      {% if event.recording %}
      <a href="{{ event.recording }}"
           target="_blank" rel="noopener"
           aria-label="iAIMS YouTube channel">
          <i class="fa-brands fa-youtube"></i> Watch recording
      </a>
      {% endif %}
  </p>

  <div class="event-description">
    {{ event.content | markdownify }}
  </div>

  {% if event.link %}
    <p class="hero-buttons">
    <ul class="nav-links">
      <a class="cta"
         href="{{ event.link }}">
        Join Meeting
      </a>
    </ul>
    </p>
  {% endif %}
</article>
