<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="logo">
      <img src="/assets/images/Logo_with_Space.svg" alt="iAIMS logo" class="navbar-logo">
    </a>

    <ul class="nav-links">
      <li>
        <a href="/"
           data-nav="home"
          class="{% if page.nav == 'home' %}active{% endif %}">
          Home
        </a>
      </li>

      <li>
        <a href="/our-story/"
           data-nav="our-story"
           class="{% if page.nav == 'our-story' %}active{% endif %}">
          Our Story
        </a>
      </li>

      <li>
        <a href="/members/"
           data-nav="members"
           class="{% if page.nav == 'members' %}active{% endif %}">
          Members
        </a>
      </li>

      <li>
        <a href="/events/"
           data-nav="events"
           class="{% if page.nav == 'events' %}active{% endif %}">
          Events
        </a>
      </li>

      <li>
        <a href="/blog/"
           data-nav="blog"
           class="{% if page.nav == 'blog' %}active{% endif %}">
          Blog
        </a>
      </li>

      <li>
        <a href="/join/"
           data-nav="join"
           class="cta {% if page.nav == 'join' %}active{% endif %}">
          Join Us
        </a>
      </li>

      <li>
        <a href="{{page.url}}"
           id="theme-toggle"
           class="theme-toggle"
           onclick="modeSwitcher()">
        </a>
      </li>
    </ul>
  </div>
</nav>